<p-toast ></p-toast>
<div class="card">

    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left"  >
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()" ></button>
            <!-- <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedbasicdriver()"  [disabled]="!selectedbasicdrivers || !selectedbasicdrivers.length"></button> -->
        </ng-template>

        
    </p-toolbar>

    <p-table #dt [value]="basicdrivers" [rows]="10" [paginator]="true" [globalFilterFields]="['description','type_car']"
        [(selection)]="selectedbasicdrivers" [rowHover]="true" dataKey="id_basic_driver"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem" >
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="description">Description <p-sortIcon field="description"></p-sortIcon></th>
                <th pSortableColumn="image">Image <p-sortIcon field="image"></p-sortIcon></th>
                <th pSortableColumn="type_car">Type Car <p-sortIcon field="type_car"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-basicdrivers>
            <tr>
                <td >
                    <p-tableCheckbox [value]="basicdrivers"></p-tableCheckbox>
                </td>
                <td [class]="'rowcustomer'" >{{basicdrivers.description}}</td>
                <td ><span><img [src]="basicdrivers.image" [alt]="basicdrivers.image" width="100" class="p-shadow-4" /></span></td>
                <td [class]="'rowcustomer'">{{basicdrivers.type_car_name}}</td>
                <td >
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editbasicdriver(basicdrivers)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"  (click)="deletebasicdriver(basicdrivers)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                In total there are {{basicdrivers ? basicdrivers.length : 0 }}.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="Dialog" [style]="{width: '750px'}" header="Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="INFORMATION_DESCRIPTION">Information Description</label>
            <textarea id="INFORMATION_DESCRIPTION" pInputTextarea  rows="3" cols="20" [(ngModel)]="basic.description"></textarea>
        </div>
        <div class="p-field">
            <label for="inventoryStatus">type car</label>
            <p-dropdown  inputId="type_car" [options]="statuses" placeholder="Select" [(ngModel)]="basic.type_car" required autofocus>
                <ng-template let-option pTemplate="item">
                    <span [class]="'product-badge status-' + option.value">{{option.label}}</span>
                </ng-template>
            </p-dropdown>
            <small class="p-error" *ngIf="submitted && !basic.type_car">Type is required.</small>
        </div>
        <div class="p-field">
            <p-fileUpload   (uploadHandler)="onUpload($event)" (onClear)="clear()" customUpload="true" [files]="uploadedFiles" (onRemove)="cancel($event)"
             accept="image/*">
            <ng-template pTemplate="content">
                <!-- <ul *ngIf="uploadedFiles.length">
                    <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                </ul> -->
            </ng-template>
    </p-fileUpload>
        </div>
    </ng-template>
    
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" [disabled]="uploadedFiles.length ==0 || role >1" (click)="savebasic()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>